/* +++ Follower Card +++ */
.follower-card {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
}
.follower-card .avatar-circle {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.follower-card .icon-btn {
  margin-inline-start: auto;
}
.follower-card .card-title {
  font-size: var(--body);
  font-weight: var(--weight-regular);
}
