/* ======== Footer ======== */
.footer {
  padding-block-start: 16px;
  border-block-start: 1px solid var(--outline);
  margin-block-start: 16px;
  text-align: center;
}
.copyright {
  color: var(--on-surface-2);
}
.copyright span {
  display: inline-block;
}
