/* Responsive for larger than 768px screen */
@media (min-width: 768px) {
  /* ======== CSS Variables ======== */
  :root {
    /* +++++ Others +++++ */
    --header-height: 80px;
  }

  /* ======== Reused Style ======== */
  body {
    padding-block: calc(var(--header-height) + 16px) 32px;
  }
  .container {
    padding-inline: 36px;
  }

  /* ======== Components ======== */
  /* +++ Card +++ */
  .card {
    --spacing: 24px;
  }
  /* +++ Avatar Skeleton +++ */
  .avatar-skeleton {
    width: 200px;
    height: 200px;
  }

  /* ======== Header ======== */
  .search-btn .material-symbols-rounded,
  .search-toggler {
    display: none;
  }
  .search-box .leading-icon,
  .search-btn .label-1,
  .header:not(.search-active) .search-box {
    display: block;
  }
  .search-box .leading-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .search-field {
    padding-inline: 56px 88px;
  }
  .search-btn {
    width: max-content;
    padding-inline: 16px;
  }
  .header-search {
    max-width: 360px;
  }

  /* ======== Profile ======== */
  .main .container {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 36px;
    align-items: flex-start;
  }
  .profile :where(.avatar-circle, .avatar-rounded) {
    width: 200px;
  }
  .profile {
    margin-block-end: 0;
    position: sticky;
    top: calc(var(--header-height) + 16px);
  }
  .profile .footer {
    display: block;
    margin-block-start: 24px;
  }

  /* ======== Tab ======== */
  .tab-container .tab-list {
    margin-inline: 0;
    padding-inline: 0;
  }

  /* ======== Footer ======== */
  footer.footer {
    display: none;
  }
}

/* Responsive for larger than 992px screen */
@media (min-width: 992px) {
  /* ======== Reused Style ======== */
  .container {
    padding-inline: 32px;
  }

  /* ======== Components ======== */
  /* +++ Avatar Skeleton +++ */
  .avatar-skeleton {
    width: 280px;
    height: 280px;
  }

  /* ======== Profile ======== */
  .main .container {
    grid-template-columns: 280px 1fr;
  }
  .profile :where(.avatar-circle, .avatar-rounded) {
    width: 280px;
  }
}

/* Responsive for larger than 1080px screen */
@media (min-width: 1080px) {
  /* ======== Tab ======== */
  .tab-panel .card {
    max-width: calc(50% - 8px);
  }
}
